<h1>Firs Project</h1>
<LinkTo class="ui right labeled icon button" @route="hello">
      <i class="right arrow icon"></i>
      hello
    </LinkTo>

<LinkTo class="ui right labeled icon button" @route="exercices">
  <i class="right arrow icon"></i>
  exercices
</LinkTo>
{{outlet}}