
<h1>Firs Project</h1>

<LinkTo class="ui right labeled icon button" @route="hello">
  <i class="right arrow icon"></i>
  hello
</LinkTo>

<LinkTo class="ui right labeled icon button" @route="ex1">
  <i class="right arrow icon"></i>
  ex1
</LinkTo>
{{outlet}}