<h1><em data-emoji="baby_chick"></em> Firs Project <em data-emoji="baby_chick"></em></h1>
<LinkTo class="ui right labeled icon button" @route="hello">
      <i class="right arrow icon"></i>
      hello
    </LinkTo>

<LinkTo class="ui right labeled icon button" @route="exercices">
  <i class="right arrow icon"></i>
  exercices
</LinkTo>
{{outlet}}