<ul>
    <li>
        <LinkTo class="ui right labeled icon button" @route="exercices.ex1">
            <i class="right arrow icon"></i>
            ex1
        </LinkTo>
    </li>
    <li>
        <LinkTo class="ui right labeled icon button" @route="exercices.ex2">
            <i class="right arrow icon"></i>
            ex2
        </LinkTo>
    </li>
    <li>
        <LinkTo class="ui right labeled icon button" @route="exercices.ex3">
            <i class="right arrow icon"></i>
            ex3
        </LinkTo>
    </li>
</ul>



{{outlet}}